#gallery {
    height: 500px;
    width: 600px;
    position: relative;
}

#gallery img {
    width: 100%;
    height: 500px;
}

.bi {
    position: absolute;
    font-size: 2rem;
    top: 50%; 
}

.bi-arrow-right-circle {
    left: 105%;

}